<p id="notice"><%= notice %></p>

<h1>Tabel5s</h1>

<table>
  <thead>
    <tr>
      <th>Nume</th>
      <th>Numar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tabel5s.each do |tabel5| %>
      <tr>
        <td><%= tabel5.nume %></td>
        <td><%= tabel5.numar %></td>
        <td><%= link_to 'Show', tabel5 %></td>
        <td><%= link_to 'Edit', edit_tabel5_path(tabel5) %></td>
        <td><%= link_to 'Destroy', tabel5, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tabel5', new_tabel5_path %>
