<p id="notice"><%= notice %></p>

<p>
  <strong>Nume:</strong>
  <%= @tabel5.nume %>
</p>

<p>
  <strong>Numar:</strong>
  <%= @tabel5.numar %>
</p>

<%= link_to 'Edit', edit_tabel5_path(@tabel5) %> |
<%= link_to 'Back', tabel5s_path %>
